/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

/* Universal selector */
* {
  /* So padding doesn't affect width */
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;

  /* Want to center everything */
  display: flex;

  /* Put everything in a vertical column */
  /* flex-direction: column; */

  /* Centers the items within the column(horizontally) */
  align-items: center;

  /* Center the items vertically */
  justify-content: center;

  /* Out body needs a height */
  height: 100vh;

  /* Hide scroll bars by default */
  overflow: hidden;

  margin: 0;
}

.container {
  /* All immediate children (divs) are put into a row since this is now a flexbox */
  display: flex;

  /* Use 90 of the 100 available container slices */
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;

  /* No repeats */
  background-repeat: no-repeat;

  /* 80 viewport heights */
  height: 80vh;

  /* Add a border radius */
  border-radius: 30px;
  color: white;

  /* Cursor appears when we hover over it */
  cursor: pointer;

  /* this will be much higher for active class  */
  flex: 0.5;

  margin: 10px;

  /* Want to position h3's inside absolute(parent div must be relative) */
  position: relative;

  /* Transition on flex property */
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  /* Want it on the bottom left corner */
  bottom: 20px;
  left: 20px;
  margin: 0;

  /* Inactive elements invisible */
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.45s;
}

/* If screen small only show 3 out of 5 cards */
@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
